---
layout: default
title: blaze
short_description: digital designer
description: building fun and intuitive experiences
is_home: true
js_file: ethereal
---

<div id="etherealCanvas" class="background-canvas"></div>

<div class="desktop">
    {% for project in site.data.projects %}
    <a href="{{ project.link }}" 
       {% if project.external_link %}
           target="_blank"
       {% else %}
           data-internal-page="{{ project.link }}"
           data-page-title="{{ project.title }}"
       {% endif %} 
       class="shortcut">
        <div class="shortcut-content">
            <figure>
                {% if project.external_link %}
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                {% endif %}
                <img src="{{ project.image }}" alt="{{ project.title }}" />
            </figure>
            <h3>{{ project.title }}<br><small>{{ project.platform }}</small></h3>
        </div>
        <small>{{ project.role }}, {{ project.year }}</small>
    </a>
    {% endfor %}
</div>