<footer>
    <nav>
        <p class="soft"><i class="fa-solid fa-code-branch"></i> blaze.design - v{{ site.version }}</p>
    </nav>
    <nav>
        <a href="https://x.com/0xblz" target="_blank" class="social-link"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://codepen.io/0xblz" target="_blank" class="social-link"><i class="fa-brands fa-codepen"></i></a>
        <a href="https://forms.gle/2tDqRA8P79LEguBt8" target="_blank" class="social-link"><i class="fa-solid fa-envelope"></i></a>
</footer>