<footer>
    <nav>
        <a href="https://github.com/0xblz/blaze-web" class="version" target="_blank"><i class="fa-solid fa-code-branch"></i> v{{ page.version }}</a>
    </nav>
    <nav>
        <a href="https://x.com/0xblz" target="_blank" class="social-link"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://codepen.io/0xblz" target="_blank" class="social-link"><i class="fa-brands fa-codepen"></i></a>
        <a href="https://forms.gle/2tDqRA8P79LEguBt8" target="_blank" class="social-link"><i class="fa-solid fa-envelope"></i></a>
</footer>