<div class="dock">
    <a href="https://x.com/0xblz" target="_blank" class="social-link" data-tippy-content="Follow me on X"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://github.com/0xblz/blaze-web" class="social-link" target="_blank" data-tippy-content="Project Source"><i class="fa-solid fa-code-branch"></i></a>
    <small>
        <i class="fa-solid fa-ellipsis-vertical"></i>
    </small>
    <a href="https://forms.gle/2tDqRA8P79LEguBt8" target="_blank" class="social-link" data-tippy-content="Contact"><i class="fa-solid fa-envelope"></i></a>
</div>