<header>
    <nav>
        <figure>
            <img src="/assets/images/avatar.jpg" alt="blaze.computer" />
        </figure>
        <h1>
            {{ page.title }}
        </h1>
    </nav>
    <nav>
        <a href="https://x.com/0xblz" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://codepen.io/0xblz" target="_blank"><i class="fa-brands fa-codepen"></i></a>
        <a href="https://forms.gle/2tDqRA8P79LEguBt8" target="_blank"><i class="fa-solid fa-envelope"></i></a>
    </nav>
</header>