<header>
    {% if page.url == "/" %}
        <nav class="logo">
            <div class="avatar"><img src="/avatar.png"/></div>
            <h3>blaze</h3>
        </nav>
        <nav>
            <p><a href="https://x.com/0xblz" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></p>
            <p><a href="https://forms.gle/2tDqRA8P79LEguBt8" target="_blank"><i class="fa-solid fa-envelope"></i></a></p>
        </nav>
    {% else %}
        <nav>
            <p><a href="/"><i class="fa-solid fa-arrow-left"></i> back home</a></p>
        </nav>
    {% endif %}
</header>
{% if page.url != "/" %}
    <header>
        <h1>{{ page.title }}</h1>
        <h2>{{ page.description }}</h2>
    </header>
{% endif %}