<div class="top-bar">
    <div>
        {% if page.url == "/" %}
            <div class="avatar">
                <img src="{{ site.baseurl }}/assets/images/avatar.jpg" alt="avatar" />
                <h1 class="glitch-effect">{{ page.title }}</h1>
            </div>
        {% else %}
            <h1>{{ page.title }}</h1>
        {% endif %}
    </div>
    <div>
        <div>
            <i class="fa-solid fa-moon theme-toggle-icon"></i>
            <label class="switch">
                <input type="checkbox" id="themeToggle">
                <span class="slider round"></span>
            </label>
        </div>
        <div>
            <h5>
                <i class="fa-solid fa-memory pulse"></i>
                <span id="memoryUsage">--</span>
                <small>
                    &bull;
                </small>
                <i class="fa-solid fa-wifi" id="wifiStatus"></i>
            </h5>
        </div>
        <div class="hide">
            <h5>
                <i class="fa-solid fa-calendar-days soft"></i>
                <!-- Date will be inserted by JavaScript -->
            </h5>
        </div>
        <div class="hide">
            <h5>
                <i class="fa-solid fa-clock soft"></i>
                <!-- Time will be inserted by JavaScript -->
            </h5>
        </div>
    </div>
</div>