/* ==========================================================================
   Base Styles
   ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--bg);
}

body {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
  color: var(--text);
  background: var(--bg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 480px;
  padding: 3rem;
  gap: 0.75rem;

  @media (max-width: 800px) {
    padding: 1.5rem;
  }
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-secondary);
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-secondary);
}

a {
  color: var(--link);
  text-decoration: underline;
  font-weight: 700;

  &:hover {
    text-decoration: none;
  }
}

/* Inline Images */
p a:has(img) {
  white-space: nowrap;
}

p img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.5rem;
  margin-right: 4px;
  margin-bottom: 0.25rem;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--border);
  margin: 1.5rem 0;
}

.avatar {
  border-radius: 999px;
}
