/* ==========================================================================
   Base Styles
   ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--bg);
}

body {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--text);
  background: var(--bg);
}

main {
  max-width: 420px;
  padding: 1.5rem;
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-secondary);
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--text-secondary);
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--link);
  text-decoration: underline;
  font-weight: 700;

  &:visited {
    color: var(--link-visited);
  }

  &:hover {
    text-decoration: none;
  }
}

/* Inline Images */
p img {
  width: 1rem;
  height: 1rem;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.25rem;
  margin-right: 2px;
  margin-bottom: 0.25rem;
}

hr {
  border: none;
  border-top: 1px solid var(--border);
  margin: 1.5rem 0;
}
