// Avatar
.avatar {
    width: 2.5em;
    height: 2.5rem;
    border-radius: 9999px;
    overflow: hidden;
    animation: avatar 10s linear infinite;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s ease-in-out;
    }
}

// Row links
.row-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 4px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.01);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    z-index: 99;
    width: 100%;
    gap: 0.75rem;
    padding: 0.75rem;
    border-radius: 1.5rem;
    animation: fade 0.5s ease-in-out;
    
    &:hover,
    &:focus,
    &:active {
        color: white;
        transform: scale(1.02);
        border-color: white;
        
        figure {
            background-color: rgba(255, 255, 255, 0.1);
            transform: scale(1.1) rotate(-5deg);
        }
    }
    
    &-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.75rem;
    }
}

// Figures and images
figure {
    transition: all 0.2s ease-in-out;
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s ease-in-out;
    }
}

.rounded {
    border-radius: 9999px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
