/* ==========================================================================
   Components - Header, Warp Effect
   ========================================================================== */

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 9;
  animation: slide-down 0.5s ease-in-out;

  nav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    z-index: 3;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      line-height: 1em;
      width: 2rem;
      height: 2rem;
      border-radius: 0.75rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease-in-out;

      @media (prefers-color-scheme: dark) {
        border-color: rgba(255, 255, 255, 0.1);
      }

      &:hover {
        border-color: var(--dark-color);
        background: var(--dark-color);
        color: white;
        text-decoration: none;
        transform: scale(1.1);

        @media (prefers-color-scheme: dark) {
          border-color: white;
          background: white;
          color: var(--dark-color);
        }
      }
    }
  }
}

/* Logo / Warp Effect */
.warp {
  padding: 0.5rem;
  color: white;
  font-family: var(--font-secondary);
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 700;
  font-size: 1rem;
  position: relative;
  transition: color 0.2s ease-in-out;
  z-index: 2;

  &::before {
    content: "";
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    background: var(--primary-color);
    mix-blend-mode: overlay;
    transform: skew(-65deg, 9deg) rotate(19deg) scale(1.4);
    border: 4px solid var(--tertiary-color);
    box-shadow: inset 0 0.25rem 0 var(--secondary-color), 0 -0.5rem 0 var(--primary-color);
    animation: skew 10s ease-in-out infinite;
    pointer-events: none;
  }

  &::after {
    content: "";
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--tertiary-color);
    transform: skew(-135deg, -2deg) rotate(-9deg) scale(1.6);
    border: 2px solid var(--primary-color);
    box-shadow: inset 0 1px 0 var(--secondary-color), 0 -1px 0 var(--secondary-color);
    mix-blend-mode: overlay;
    animation: warp 20s ease-in-out infinite;
    pointer-events: none;
  }

  a {
    color: white;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.6;
    }
  }
}
