// custom page styles
body.weather {
    background: var(--tertiary-color);
    font-size: 3rem;
}

// Nova Grid
body.nova-grid {
    .background-canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        pointer-events: none;
    }
    .keyboard-icon {
        width: auto;
        height: 4rem;
        position: fixed;
        bottom: 1.5rem;
        left: 1.5rem;
        z-index: 9999;
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
        border-radius: 0.75rem;
        padding: 0.75rem;
        &.full {
            height: 8rem;
            width: auto;
        }
        @media (max-width: 800px) {
            display: none;
        }
    }
}

// Marble Editor
body.marbles {
    cursor: auto;
    overflow: hidden;
    background-color: black;
    background-image: 
        radial-gradient(circle at center, black 0%, transparent 100%),
        url('/assets/images/scratch-pattern.svg');
    background-size: 100% 100%, 10rem 10rem;
    background-position: center, center;
    background-repeat: no-repeat, repeat;
    color: var(--tertiary-color);
    
    canvas {
        display: block;
    }

    .marble-maker-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
} 