// custom page styles
body.home {
    background: 
    url('/assets/images/pattern.png'),
    repeating-linear-gradient(
        45deg,
        transparent 0,
        transparent 2px,
        rgba(255, 255, 255, 0.1) 2px,
        rgba(255, 255, 255, 0.1) 4px
    ),
    repeating-linear-gradient(
        0deg, 
        var(--quaternary-color) 0%,
        var(--primary-color) 10%,
        var(--quaternary-color) 25%,
        var(--primary-color) 50%,
        var(--quaternary-color) 60%,
        var(--secondary-color) 75%,
        var(--primary-color) 90%,
        var(--quaternary-color) 100%
    );
    background-size: 3rem 3rem, cover, 400% 400%;
    background-position: center center, center center, 0% 0%;
    background-repeat: repeat, repeat, repeat;
    
    @media (max-width: 768px), (max-height: 640px) {
        animation: holo 40s linear infinite;
    }
    
    // streaks
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: 
            linear-gradient(
                125deg,
                rgba(255,255,255,0) 0%,
                rgba(255,255,255,0) 5%,
                rgba(255,255,255,0.2) 10%,
                rgba(255,255,255,0.8) 15%,
                rgba(255,255,255,0.2) 20%,
                rgba(255,255,255,0) 25%,
                rgba(255,255,255,0) 35%,
                rgba(255,255,255,0.2) 40%,
                rgba(255,255,255,0.8) 45%,
                rgba(255,255,255,0.2) 50%,
                rgba(255,255,255,0) 55%,
                rgba(255,255,255,0) 65%,
                rgba(255,255,255,0.2) 70%,
                rgba(255,255,255,0.8) 75%,
                rgba(255,255,255,0.2) 80%,
                rgba(255,255,255,0) 85%,
                rgba(255,255,255,0) 100%
            );
        pointer-events: none;
        mix-blend-mode: overlay;
        filter: contrast(1.5);
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
        z-index: 2;
    }

    &.dark-mode {
        background: 
            url('/assets/images/pattern02.png'),
            linear-gradient(to top, var(--tertiary-color) 0%, var(--tertiary-color) 60%, black 100%);
        background-size: 3rem 3rem, cover;
        background-position: center center, center center;
        background-repeat: repeat, repeat;
        color: var(--quaternary-color);

        &::before {
            background: var(--quaternary-color);
            mix-blend-mode: overlay;
        }

        h1 {
            color: var(--secondary-color);
        }

        .dialog {
            border-color: var(--quaternary-color);
        }
        
        .top-bar {
            border-color: rgba(255, 255, 255, 0.1);

            div {
                img {
                    border-color: var(--secondary-color);
                }
            }
        }

        .dock {
            background: rgba(0, 0, 0, 0.01);
            color: white;
        }

        .shortcut {
            figure {
                position: relative;
                overflow: hidden;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: var(--quaternary-color);
                    z-index: 1;
                    mix-blend-mode: overlay;
                }
            }
            img {
                filter: saturate(0%) contrast(1.25);
                position: relative;
            }
        }
    }
}

// Weather
body.weather {
    background: var(--tertiary-color);
    font-size: 3rem;
}

// Nova Grid
body.nova-grid {
    .background-canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        pointer-events: none;
    }
    .keyboard-icon {
        width: auto;
        height: 4rem;
        position: fixed;
        bottom: 1.5rem;
        left: 1.5rem;
        z-index: 9999;
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
        border-radius: 0.75rem;
        padding: 0.75rem;
        &.full {
            height: 8rem;
            width: auto;
        }
        @media (max-width: 800px) {
            display: none;
        }
    }
}

// Marble Editor
body.marbles {
    cursor: auto;
    overflow: hidden;
    background-color: black;
    background-image: 
        radial-gradient(circle at center, black 0%, transparent 100%),
        url('/assets/images/scratch-pattern.svg');
    background-size: 100% 100%, 10rem 10rem;
    background-position: center, center;
    background-repeat: no-repeat, repeat;
    color: var(--tertiary-color);
    
    canvas {
        display: block;
    }

    .marble-maker-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
} 