// custom dat.gui styles
.dg {
    & > * {
        font-family: 'DM Sans', sans-serif !important;
        font-weight: 700 !important;
    }

    &.a {
        box-shadow: 0 2rem 2rem var(--secondary-color) !important;
    }

    .c {
        .slider-fg {
            background-color: var(--secondary-color) !important;
        }
    }

    .cr.number input[type=text] {
        color: var(--secondary-color) !important;
    }

    &.ac {
        z-index: 9999 !important;
    }

    .close-button {
        height: 2.5rem !important;
        line-height: 2.5rem !important;
        background-color: white !important;
        color: var(--tertiary-color) !important;
        border-bottom-left-radius: 0.75rem !important;
        border-bottom-right-radius: 0.75rem !important;
        font-size: 12px;
        text-shadow: none !important;
    }
}