// three.js canvas
.background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
}

body.experiment {
    cursor: auto;
} 

// custom page styles
body.marbles {
    overflow: hidden;
    background: 
        radial-gradient(
            circle at 50% 100%,
            rgba(white,1) 0%,
            rgba(gray,0) 45%,
            rgba(gray,0) 100%
        ),
        linear-gradient(
            180deg,
            gray 0%,
            lightgray 55%,
            white 65%,
            lightgray 85%,
            lightgray 90%,
            gray 100%
        );
    color: var(--tertiary-color);

    header,
    footer {
        border-color: rgba(white,0.2);
    }
    
    canvas {
        display: block;
    }

    .marble-maker-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
} 

// custom dat.gui styles
.dg {
    & > * {
        font-family: 'DM Sans', sans-serif !important;
        font-weight: 700 !important;
    }

    &.a {
        box-shadow: 0 2rem 2rem white !important;
    }

    .c {
        .slider-fg {
            background-color: var(--secondary-color) !important;
        }
    }

    .cr.number input[type=text] {
        color: var(--secondary-color) !important;
    }

    &.ac {
        z-index: 9999 !important;
    }

    .close-button {
        height: 2.5rem !important;
        line-height: 2.5rem !important;
        background-color: white !important;
        color: var(--tertiary-color) !important;
        border-bottom-left-radius: 0.75rem !important;
        border-bottom-right-radius: 0.75rem !important;
        font-size: 12px;
        text-shadow: none !important;
    }
}