// three.js canvas
.background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
}

body.experiment {
    cursor: auto;
} 

// custom page styles
body.marble-maker {
    background-color: #1a1a1a;
    overflow: hidden;
    
    canvas {
        display: block;
    }
    
    .dg.ac {
        z-index: 1000;
    }

    .marble-maker-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
} 