// Typography
body {
    font-family: var(--font-primary);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
}

h1 {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--dark-color);
}

h2 {
    font-family: var(--font-secondary);
    font-size: 0.9rem;
    font-weight: 800;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    line-height: 1.4em;
}

a {
    transition: all 0.2s ease-in-out;
    color: var(--dark-color);
    text-decoration: none;
    font-weight: 800;
    
    &:hover,
    &:focus,
    &:active {
        color: var(--dark-color);
    }

    &.button {
        background: rgba(255, 255, 255, 0.05);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background: rgba(255, 255, 255, 0.6);

        &:hover,
        &:focus,
        &:active {
            background: var(--primary-color);
        }
    }
}
