/* ==========================================================================
   Variables & Fonts
   ========================================================================== */

@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap");

:root {
  --bg: #fff;
  --text: rgba(0, 0, 0, 0.7);
  --text-secondary: black;
  --link: #007AFF;
  --link-visited: #007AFF;
  --border: #f2f2f2;
  --font: "TikTok Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000;
    --text: rgba(255, 255, 255, 0.7);
    --text-secondary: white;
    --link: #0A84FF;
    --link-visited: #0A84FF;
    --border: #222;
  }
}
