// Fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Zen+Dots&display=swap');

// Color variables
:root {
    
    --primary-color: lightblue;
    --secondary-color: blue;
    --tertiary-color: darkblue;
    --quaternary-color: black;

    --font-primary: 'Outfit', sans-serif;
    --font-secondary: 'Zen Dots', sans-serif;
    --container-width: 720px;
} 