// Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

// Color variables
:root {
    --primary-color: #7350ff;
    --secondary-color: #dc50ff;
    --tertiary-color: #15121e;
    --quaternary-color: #50fff9;
} 