// Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Zen+Dots&display=swap');

// Color variables
:root {
    --primary-color: rgb(84, 22, 255);
    --secondary-color: rgb(252, 83, 255);
    --tertiary-color: rgb(21, 18, 30);
    --quaternary-color: rgb(62, 75, 252);
    --font-primary: 'DM Sans', sans-serif;
    --font-secondary: 'Zen Dots', sans-serif;
} 